.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-weight: 300;
    font-size: 24px;

    
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .top {
    input {
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    
    button {
      width: 100px;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: #72c201;
      border-radius: 5px;

      

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.search-all-2{
  padding: 16px 36px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: large;
  margin-top: 10px;
  // border: 1px solid #999;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #72c201;
  // text-transform: capitalize;
}